<!DOCTYPE html>
<html>

<head>
  <title>What I'm Listening to</title>
  <link rel='stylesheet' href='/stylesheets/style.css'>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <STYLE>A {text-decoration: none;} </STYLE>
</head>
<body>
  <div>
    <div class="header"><img class="main-icon" src="https://image.flaticon.com/icons/svg/3039/3039386.svg">&nbsp;&nbsp;WHAT I'M LISTENING TO</div>
      <div class="text-column">
        <br>
        <span class="share">SHARE</span>
        <span class="music">MUSIC</span>
        <br>
        <span class="discover">DISCOVER</span>
        <span class="new">NEW MUSIC</span>
        <br>
      </div>  
        <!-- Add login UI here -->
        <div>
          <% if (user) { %>
            <a class="login" href="/logout">Log Out</a>
          <% } else { %>
            <a class="login" href="/auth/google"><img class="google"
              src="https://image.flaticon.com/icons/svg/2702/2702602.svg">&nbsp;&nbsp;Sign in with Google</a>
          <% } %>
        </div>
  </div>
      <form action="/users" method="GET">
          <!-- search -->
          <div class="input-field">
            <input id="search" type="search" name="name" placeholder="search name" value="<%= name %>" autocomplete="off">
          </div>
        <div>
          <p>
            <label for="sort-name">
              <input name="sort" type="radio" id="sort-name" value="name" class="with-gap"
                <%= sortKey === 'name' ? 'checked' : '' %> >
              <span>Sort by Name</span>
            </label>
          </p>
        </div>
      </form>
    <section class="userContainer">
      <div>
        <div>
        <% users.forEach(function(u) { %>
          <% if (u.avatar) { %>
            <img src="<%= u.avatar %>" alt="avatar" width="50">
          <% } else { %>
            <img src="https://image.flaticon.com/icons/svg/860/860784.svg">
          <% } %>
          <a href="/details">
            <span class="user-name"><%= u.name %></span>
          </a>
        </div>
        <div>
          <% u.songs.forEach(function(song) { %>
            <%= song.text %><br>
            <% if (user && user._id.toString() === u._id.toString()) { %>
              <form action="/songs/<%=song._id%>?_method=DELETE" method="POST">
                <button type="submit">D E L E T E &nbsp; S O N G</button>
              </form>
              <form action="/songs/<%= song._id %>?_method=PUT" method="POST">
                <input type="text" name="text">
                <button type="submit">U P D A T E &nbsp; S O N G</button>
              </form>                    
            <% } %>
        </div>
          <%})%>
        <hr>
          <% if(user && user._id.toString() === u._id.toString()) { %>
          <div>
            <form action="users/<%= u._id %>/songs" method="POST">
              <input type="text" name="text">
              <button type="submit">A D D &nbsp; S O N G</button>
            </form>
          </div>
          <% } %>
          <div>
            <% u.comments.forEach(function(comment) { %>
              <%= comment.text %><br><%})%>
            <form action="users/<%= u._id %>/comments" method="POST">
              <input type="text" name="text">
              <button type="submit">C O M M E N T</button>
            </form>   
          </div>
        <% }) %>
      </div>
    </section>
</body>
</html>
